<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
		xmlns:tool="http://www.springframework.org/schema/tool" xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.2.xsd
           http://www.springframework.org/schema/tool
           http://www.springframework.org/schema/tool/spring-tool-3.2.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc\:oracle\:thin\:@base.semsplus.cn\:58887\:orcl"></property>
		<property name="username" value=""></property>
		<property name="password" value=""></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/CarDetail.hbm.xml</value>
				<value>com/model/CarmanageDict.hbm.xml</value>
				<value>com/model/Cars.hbm.xml</value>
				<value>com/model/CarWarnning.hbm.xml</value>
				<value>com/model/Department.hbm.xml</value>
				<value>com/model/DispatchRecord.hbm.xml</value>
				<value>com/model/MaintainRecord.hbm.xml</value>
				<value>com/model/Mechanism.hbm.xml</value>
				<value>com/model/SysUser.hbm.xml</value>
				<value>com/model/TripRecord.hbm.xml</value>
				<value>com/model/WorkOrder.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
		
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="modify*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="OperationException" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="query*" propagation="REQUIRED" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<!-- Action -->
	<bean id="authAction" class="com.action.AuthAction">
		<property name="authService">
			<ref bean="authService" />
		</property>
	</bean>
	<bean id="menuAction" class="com.action.MenuAction">
		<property name="menuService">
			<ref bean="menuService" />
		</property>
	</bean>
	<bean id="roleAction" class="com.action.RoleAction">
		<property name="roleService">
			<ref bean="roleService" />
		</property>
	</bean>
	<bean id="sysUserAction" class="com.action.SysUserAction">
		<property name="sysUserService">
			<ref bean="sysUserService" />
		</property>
	</bean>
	<!-- Action end -->
	<!-- Service -->
	<bean id="sysUserService" class="com.service.impl.SysUserServiceImpl">
		<property name="sysUserDao">
			<ref bean="sysUserDao"/>
		</property>
	</bean>
	<bean id="authService" class="com.service.impl.AuthServiceImpl">
		<property name="authDao">
			<ref bean="authDao"/>
		</property>
	</bean>
	<bean id="menuService" class="com.service.impl.MenuServiceImpl">
		<property name="menuDao">
			<ref bean="menuDao" />
		</property>
	</bean>
	<bean id="roleService" class="com.service.impl.RoleServiceImpl">
		<property name="roleDao">
			<ref bean="roleDao" />
		</property>
	</bean>
	<!-- Service end -->
	<bean id="sysUserDao" class="com.dao.impl.SysUserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="authDao" class="com.dao.impl.AuthDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="menuDao" class="com.dao.impl.MenuDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="roleDao" class="com.dao.impl.RoleDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	</beans>